{% extends "__layout.twig" %}
{% from "/macroses/macros.twig" import btn as btn %}

{% block content %}



<div>
    {{description}}
</div>

<div>
     <div>
        <ul class="gap-1 nav nav-pills nav-fill ">
            <li >
                {{ btn("Image", "/titles/"~id~"?show=image", is_image) }}
            </li>
            <li>
                {{ btn("Info", "/titles/"~id~"?show=info", is_info) }}
            </li>
        </ul>
    </div>
</div>

{% block objectContent %}
    {% if is_image == true %}
    <ul class="nav nav-pills" style="margin-top: 20px; padding:25px">
        <li class="d-flex flex-row">
            <img src={{image}} style="width: 600px; border: 1px solid black; padding: 4px; margin-top: 5px;" class="nav-link">
        </li>
    </ul>
    {% endif %}

    {% if is_info == true %}
    <ul class="nav nav-pills" style="margin-top: 20px; padding:25px">
        <li class="d-flex flex-row">
            <div style="border: 1px solid black; padding: 4px; margin-top: 5px; width: 600px; padding:25px;">
                {{info}}
            </div>
        </li>
    </ul>
    {% endif %}
{% endblock %}

{% endblock %}
    