{# Ма́нга (яп. 漫画, マンガ, [mã̠ŋɡa̠] (инф.)) ж., скл. — японские комиксы, иногда называемые комикку (コミック). Манга в форме, в которой она существует в настоящее время, начала развиваться после окончания Второй мировой войны, испытав сильное влияние западных традиций. Однако манга имеет глубокие корни в раннем японском искусстве.
<br>
В Японии мангу читают люди всех возрастов. Манга уважаема как форма изобразительного искусства и как литературное явление. Поэтому существует множество произведений разных жанров и на самые разнообразные темы: приключения, романтика, спорт, история, юмор, научная фантастика, ужасы, эротика, бизнес и другие. #}

{% from "/macroses/macros.twig" import btn as btn %}
 {% extends "__layout.twig" %}
 {% block content %}
 <div class="d-flex flex-wrap justify-content-center" >
    {% for object in titles %}
    <div class="d-flex flex-column justify-content-center position-relative" style="border: 1px solid gray; padding:5px; margin:5px;">
      <div class="position-absolute" style="right: 4px; top: 4px">
        <form action="/titles/{{ object.id }}/delete" method="POST">
          <input type="hidden" name="id" value="{{ object.id }}">
          <button type="submit" class="btn btn-danger">
            <i class="fas fa-window-close"></i>
          </button>
        </form>
      </div>
      <div class="position-absolute" style="right: 4px; top: 45px">
        <form action="/titles/{{ object.id }}/edit" method="GET">
          <input type="hidden" name="id" value="{{ object.id }}">
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-edit"></i>
          </button>
        </form>
        <!-- <a href="/titles/{{ object.id }}/edit">lya</a> -->
      </div>
      <div>
        <img src={{ object.image }} style="object-fit:contain; width: 300px; height: 300px;  padding: 4px; margin-top: 5px;" class="nav-link">
      </div>
      <div class="d-flex" m>
        {{ btn(object.title, "/titles/"~object.id, true) }}
      </div>
      <div class="d-flex">
        {{ btn("Image", "/titles/"~object.id~"?show=image", false) }}
        {{ btn("Info", "/titles/"~object.id~"?show=info", false) }}
      </div>
    </div>
    {% endfor %}
  </div>
  {% endblock %}